.container-fluid {
    display: flex;
	height: 100%;
}

.aboutRow {
	justify-content: center;
	align-self: center;
}

.aboutPhoto{
	text-align: center;
	align-self: center;
}

.aboutText {
	text-align: center;
	align-self: center;
}

.aboutImage {
	max-height: 70vh;
	max-width: 100%;
}

.row {
    min-height: 100%;
}

p {
	font-size: large;
}