<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="container-fluid">
    <div *ngIf="galleryPages.length > 0" class="row galleryRow">
        <div class="col col-sm-12 col-lg-4" *ngFor="let image of galleryPages">
            <div class="imageCard">
                <a [routerLink]="image.title.toLowerCase()">
                    <img [src]="image.thumbnail" class="imageCardImage img-" />
                    <h1 class="imageCardText">{{image.title}}</h1>
                    <div class="overlay"><span></span></div>
                </a>
            </div>
        </div>
    </div>

    <ul *ngIf="galleryPages.length === 0" class="image-gallery">
        <li *ngFor="let image of imagesService.images, let i = index" (click)="open(i)">
            <img class="img-fluid" [src]=image.image alt="{{image}}">
            <div class="overlay"><span>{{image.title}}</span></div>
        </li>
    </ul>

</div>