a {
    font-weight: bold;
}

.cart-container {
    margin-left: 10px;
    display: flex;

    
}

.navbar {
    margin-bottom: 10px;
}

.form {
    margin-left: auto !important;
}

.navbar-toggler {
    margin-top: 5px;
    padding-top: 10px;
    margin-left: auto;
}

.snipcart-items-count {
    position: absolute;
    top: 50px;
    right: 5px;
}

.nav-link {
    margin-left: 5px;
}