<div class="modal-body">
    <ngb-carousel [animation]="false" [showNavigationIndicators]="false" class="carousel-container" [interval]="0" [keyboard]="true">
        <ng-template id="slide-ngb-slide-{{i}}" ngbSlide *ngFor="let image of images, let i = index">
            <img [src]=image.image alt="{{image.title}}">

        </ng-template>
    </ngb-carousel>
    <div class="description">
        <span class="description-text mx-3">
            {{imageService.images[+imageIndex].description}}
        </span>
        <div class="form-group price-group">
            <h1 class="price">{{imageService.images[+imageIndex]?.price| currency: 'GBP'}}</h1>
        </div>
        <div class="add-to-cart">
            <button *ngIf="!!imageService.images[+imageIndex].price" type="submit" class="btn btn-secondary snipcart-add-item" (click)="onAdd()"  
                [attr.data-item-id]="imageService.images[+imageIndex].id"
                [attr.data-item-price]="imageService.images[+imageIndex].price"
                [attr.data-item-url]="snipcartUrl + '/' + imageService.images[+imageIndex].id"
                [attr.data-item-image]="imageService.images[+imageIndex].rawImage"
                [attr.data-item-name]="imageService.images[+imageIndex].title">
                    Add to Cart
                </button>
        </div>
    </div>
    

</div>