<footer id="footer" #footer>
    <div class="container-fluid">
        <div class="row" *ngIf="window.screen.width >= 768">
            <div class="col col-text">
                <!-- Website developed by <a href="https://github.com/syntaxe-ed">Edward Linton</a> -->
                <span class="text">v{{version}}</span>
            </div>
            <div class="col col-text copyright-container">
                <span class="text">All Images Copyright 
                    <img src="../../../assets/copyright.svg" class="copyright-logo"/>
                    <!-- <span class="copyright">©</span> -->
                    Jennifer Linton {{date.getFullYear()}}</span>
            </div>
            <div class="col col-text">
                <span class="text">
                    <a href="https://www.instagram.com/stardustimages_jen/" target="_blank"><fa-icon class="instagram" [icon]="instagram"></fa-icon></a>
                    <a href="https://www.facebook.com/Stardust-Images-by-Jennifer-Linton-207022339901547" target="_blank"><fa-icon class="facebook" [icon]="facebook"></fa-icon></a>
                </span>
            </div>
        </div>
        <div class="row" *ngIf="window.screen.width < 768">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a href="https://www.instagram.com/stardustimages_jen/" target="_blank"><fa-icon class="instagram" [icon]="instagram" ></fa-icon></a>
                        <a href="https://www.facebook.com/Stardust-Images-by-Jennifer-Linton-207022339901547" target="_blank"><fa-icon class="facebook" [icon]="facebook" ></fa-icon></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="text">All Images Copyright <span class="copyright">©</span>Jennifer Linton {{date.getFullYear()}}</span>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col">
                        Website developed by <a href="https://github.com/syntaxe-ed">Edward Linton</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
