<footer>
    <div class="container-fluid">
        <div class="row" *ngIf="window.screen.width >= 768">
            <div class="col">
                <!-- Website developed by <a href="https://github.com/syntaxe-ed">Edward Linton</a> -->
                v{{version}}
            </div>
            <div class="col">
                All Images Copyright ©Jennifer Linton {{date.getFullYear()}}
            </div>
            <div class="col">
                <a href="https://www.instagram.com/stardustimages_jen/" ><fa-icon class="instagram" [icon]="instagram"></fa-icon></a>
				<a href="https://www.facebook.com/Stardust-Images-by-Jennifer-Linton-207022339901547"><fa-icon class="facebook" [icon]="facebook"></fa-icon></a>
            </div>
        </div>
        <div class="row" *ngIf="window.screen.width < 768">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a href="https://www.instagram.com/stardustimages_jen/" ><fa-icon class="instagram" [icon]="instagram"></fa-icon></a>
                        <a href="https://www.facebook.com/Stardust-Images-by-Jennifer-Linton-207022339901547"><fa-icon class="facebook" [icon]="facebook"></fa-icon></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        All Images Copyright ©Jennifer Linton {{date.getFullYear()}}
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col">
                        Website developed by <a href="https://github.com/syntaxe-ed">Edward Linton</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
